// Define variables
// color
$bs-default-color: #777;
$bs-primary-color: #428bca;
$bs-success-color: #5cb85c;
$bs-danger-color: #d9534f;
$bs-warning-color: #f0ad4e;
$bs-info-color: #5bc0de;

$bs-title-color: #b0c4de;
$bs-subtitle-color: #e6e6fa;

$white-color: #eee;

// font-size
$bs-title-font-size: 16px;
$bs-subtitle-font-size: 14px;
